@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img, picture {
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: 'Open Sans';
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  /*
    // PC
    @media (max-width: px) { = по макету + отступы безопасности (они 30px)
        max-width: 970px;
    }
    // TABLET
    @media (max-width: 991.98px) {
        max-width: 750px;
    }
    // MOBILE
    @media (max-width: 767.98px) {
        max-width: none;
    }
    // LITTLE MOBILE
    @media (max-width: 479.98px) {   
    }
    */
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.header__container {
  padding: 30px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 60px;
  height: 60px;
}

.header__logo img {
  max-width: 100%;
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 30px;
}

.menu__link {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__arrow {
  display: none;
}

.menu__sub-list {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #000;
}

.menu__sub-list li {
  margin: 0 0 10px 0;
}

.menu__sub-list li:last-child {
  margin: 0;
}

.menu__sub-link {
  color: #fff;
}

body._pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #fff;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  margin: 0 0 0 5px;
}

body._touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body._touch .menu__list > li._active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}

body._touch .menu__list > li._active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

body._touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    -webkit-transform: translate(0, 10%);
        -ms-transform: translate(0, 10%);
            transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: black;
  }
  .menu__icon::before, .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__line {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 120px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 150px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list > li {
    margin: 0 0 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    color: #fff;
  }
  .menu__sub-list {
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0 0 0;
    display: none;
  }
  .menu__sub-link {
    color: #fff;
  }
}

.home {
  background: url("../img/2home/bg.png") 0 100%/cover no-repeat;
}

.home__title {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  padding: 182px 0 26px 0;
}

@media (max-width: 1023.98px) {
  .home__title {
    font-size: 44px;
  }
}

@media (max-width: 767.98px) {
  .home__title {
    padding: 120px 0 26px 0;
  }
}

@media (max-width: 479.98px) {
  .home__title {
    font-size: 30px;
    padding: 80px 0 26px 0;
  }
}

.home__subtitle {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  padding: 0 0 108px 0;
}

@media (max-width: 1023.98px) {
  .home__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 767.98px) {
  .home__subtitle {
    padding: 0 0 80px 0;
  }
}

@media (max-width: 479.98px) {
  .home__subtitle {
    font-size: 16px;
    padding: 0 0 60px 0;
  }
}

.home__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 435px;
  margin: 0 auto;
  padding: 0 0 100px 0;
}

@media (max-width: 767.98px) {
  .home__buttons {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 479.98px) {
  .home__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

.home__fa {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0 0 76px 0;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .home__fa {
    padding: 0 0 60px 0;
  }
}

.button {
  padding: 22px 32px;
  text-align: center;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

.button_transparent {
  border: 3px solid #f8f8f8;
}

.button_transparent span {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.button_transparent:hover {
  background-color: #00897b83;
}

.button_green {
  background-color: #00897b;
  border: 3px solid #00897b;
}

.button_green span {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.button_green:hover {
  border: 3px solid #f8f8f8;
}

.about__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 125px 0 36px 0;
}

@media (max-width: 767.98px) {
  .about__title {
    padding: 65px 0 30px 0;
    font-size: 26px;
  }
}

.about__subtitle {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 0 0 124px 0;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 767.98px) {
  .about__subtitle {
    padding: 0 0 64px 0;
  }
}

.about__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1054px;
  margin: 0 auto;
  padding: 0 0 125px 0;
}

@media (max-width: 767.98px) {
  .about__cards {
    padding: 0 0 65px 0;
  }
}

@media (max-width: 479.98px) {
  .about__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.about__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 285px;
          flex: 0 1 285px;
  padding: 0 15px;
}

@media (max-width: 479.98px) {
  .about__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 215px;
            flex: 0 1 215px;
  }
}

.card__logo {
  width: 62px;
  height: 62px;
  margin: 0 auto 40px;
}

.card__logo img {
  max-width: 100%;
}

@media (max-width: 479.98px) {
  .card__logo {
    margin: 0 auto 30px;
  }
}

.card__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 0 0 26px 0;
}

@media (max-width: 767.98px) {
  .card__title {
    font-size: 16px;
  }
}

.card__text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
}

@media (max-width: 767.98px) {
  .card__text {
    font-size: 14px;
  }
}

.servicing {
  background-color: #e4fdf9;
}

.servicing__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 173px 0 36px 0;
}

@media (max-width: 767.98px) {
  .servicing__title {
    padding: 65px 0 30px 0;
    font-size: 26px;
  }
}

.servicing__subtitle {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 112px 0;
}

@media (max-width: 767.98px) {
  .servicing__subtitle {
    padding: 0 0 64px 0;
  }
}

.servicing__services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .servicing__services {
    padding: 0 0 65px 0;
  }
}

.service {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  background-color: #ffffff;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.service:hover {
  background-color: #00897b;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.34);
}

.service:hover .service__logo {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.service:hover .service__title, .service:hover .service__text {
  color: #fff;
}

.service:hover .service__button {
  border-color: #fff;
}

.service:hover .service__button span {
  color: #fff;
}

.service__logo {
  margin: 58px auto 38px auto;
  width: 56px;
  height: 62px;
}

@media (max-width: 479.98px) {
  .service__logo {
    margin: 30px auto 30px;
  }
}

.service__title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 0 0 26px 0;
}

@media (max-width: 479.98px) {
  .service__title {
    padding: 0 0 20px 0;
  }
}

.service__text {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 0 0 44px 0;
  max-width: 270px;
  margin: 0 auto;
}

@media (max-width: 479.98px) {
  .service__text {
    padding: 0 0 34px 0;
  }
}

.service__button {
  display: block;
  padding: 15px;
  width: 180px;
  margin: 0 auto 50px auto;
  text-align: center;
  border: 2px solid #212121;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

@media (max-width: 479.98px) {
  .service__button {
    margin: 0 auto 30px auto;
    padding: 12px;
  }
}

.service__button span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

@media (max-width: 479.98px) {
  .service__button span {
    font-size: 16px;
  }
}

.service__button:hover {
  background-color: #075e56;
}

.portfolio__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 128px 0 36px 0;
}

@media (max-width: 767.98px) {
  .portfolio__title {
    padding: 65px 0 30px 0;
    font-size: 26px;
  }
}

.portfolio__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 112px 0;
}

@media (max-width: 767.98px) {
  .portfolio__text {
    padding: 0 0 64px 0;
  }
}

.portfolio__buttons {
  max-width: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .portfolio__buttons {
    max-width: 440px;
    gap: 10px;
    padding: 0 0 80px 0;
  }
}

@media (max-width: 479.98px) {
  .portfolio__buttons {
    max-width: none;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 0 0 60px 0;
  }
}

.portfolio__button {
  padding: 15px 20px;
  border: 2px solid #00897b;
  text-align: center;
}

@media (max-width: 767.98px) {
  .portfolio__button {
    width: 200px;
  }
}

.portfolio__button:hover {
  background-color: #00897baf;
}

.portfolio__button:hover span {
  color: #fff;
}

.portfolio__button.active {
  background-color: #00897b;
}

.portfolio__button.active span {
  color: #fff;
}

.portfolio__button span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .portfolio__works {
    padding-bottom: 65px;
  }
}

.portfolio__work {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
}

.portfolio__link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.portfolio__link:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.portfolio__link:hover span {
  visibility: visible;
}

.portfolio__link-title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  padding: 148px 0 10px 0;
  visibility: hidden;
}

.portfolio__link-subtitle {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  visibility: hidden;
}

.portfolio__image img {
  max-width: 100%;
}

.portfolio__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 0 100px 0;
}

@media (max-width: 767.98px) {
  .portfolio__bottom {
    padding: 0 0 80px 0;
  }
}

@media (max-width: 479.98px) {
  .portfolio__bottom {
    padding: 0 0 60px 0;
  }
}

.portfolio__bottom-button:hover {
  background-color: #00897bbd;
  border-color: #00897bbd;
}

.pricing {
  background-color: #f0f0f0;
}

.pricing__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 127px 0 30px 0;
}

@media (max-width: 767.98px) {
  .pricing__title {
    padding: 65px 0 20px 0;
    font-size: 26px;
  }
}

.pricing__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .pricing__text {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 559.98px) {
  .pricing__text {
    padding: 0 0 30px 0;
  }
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  padding: 0 0 100px 0;
}

@media (max-width: 559.98px) {
  .pricing__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.pricing__card {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 370px;
          flex: 0 1 370px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pricing__card:hover {
  -webkit-box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 3px 25px 0px rgba(0, 0, 0, 0.34);
}

.pricing__card:hover .pricing__card-button {
  background-color: #3949ab;
  border-color: #3949ab;
}

.pricing__card:hover .pricing__card-button span {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width: 559.98px) {
  .pricing__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 300px;
    margin: 0 auto;
  }
}

.pricing__card-blueblock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 209px;
  overflow: hidden;
}

@media (max-width: 559.98px) {
  .pricing__card-blueblock img {
    display: none;
  }
}

.pricing__card-container {
  position: relative;
  z-index: 2;
  max-width: 186px;
  margin: 0 auto;
}

@media (max-width: 699.98px) {
  .pricing__card-container {
    max-width: 146px;
  }
}

.pricing__card-title {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  padding: 48px 0 40px 0;
}

@media (max-width: 1023.98px) {
  .pricing__card-title {
    padding: 40px 0 30px 0;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-title {
    font-size: 22px;
    padding: 40px 0 30px 0;
  }
}

@media (max-width: 559.98px) {
  .pricing__card-title {
    color: #3949ab;
    font-size: 25px;
  }
}

.pricing__card-subtitle {
  text-align: center;
  padding: 0 0 116px 0;
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.pricing__card-subtitle :first-child {
  font-size: 25px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 5px;
}

@media (max-width: 699.98px) {
  .pricing__card-subtitle :first-child {
    font-size: 20px;
    padding-top: 2px;
  }
}

.pricing__card-subtitle :last-child {
  font-size: 17px;
}

@media (max-width: 699.98px) {
  .pricing__card-subtitle :last-child {
    font-size: 14px;
  }
}

@media (max-width: 1023.98px) {
  .pricing__card-subtitle {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-subtitle {
    padding: 0 0 25px 0;
    font-size: 40px;
  }
}

@media (max-width: 699.98px) {
  .pricing__card-subtitle {
    font-size: 30px;
  }
}

@media (max-width: 559.98px) {
  .pricing__card-subtitle {
    color: #3949ab;
  }
}

.pricing__card-icon {
  display: none;
  margin: 0 0 40px 0;
}

.pricing__card-icon span {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 559.98px) {
  .pricing__card-icon span {
    color: #3949ab;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-icon {
    display: block;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-icon {
    margin: 0 0 50px 0;
  }
}

@media (max-width: 559.98px) {
  .pricing__card-icon {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-info {
    display: none;
  }
  .pricing__card-info._active {
    display: block;
    position: absolute;
    z-index: 2;
    bottom: -15%;
    left: 0%;
    width: 100%;
    height: 47%;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }
  .pricing__card-info._active .pricing__card-text {
    border-bottom: none;
    color: #fff;
    margin: 0;
    padding: 8px 0;
  }
}

@media (max-width: 767.98px) and (max-width: 699.98px) {
  .pricing__card-info._active {
    height: 50%;
  }
}

@media (max-width: 767.98px) and (max-width: 559.98px) {
  .pricing__card-info._active {
    height: 55%;
    bottom: -25%;
  }
}

.pricing__card-text {
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 14px;
  border-bottom: 1px solid black;
  margin: 0 0 37px 0;
}

.pricing__card-text:last-of-type {
  margin: 0 0 66px 0;
}

@media (max-width: 1023.98px) {
  .pricing__card-text {
    margin: 0 0 25px 0;
  }
}

.pricing__card-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  border: 2px solid #000000;
  margin: 0 0 63px 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pricing__card-button span {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

@media (max-width: 699.98px) {
  .pricing__card-button span {
    font-size: 16px;
  }
}

@media (max-width: 559.98px) {
  .pricing__card-button span {
    color: #3949ab;
  }
}

@media (max-width: 767.98px) {
  .pricing__card-button {
    margin: 0 0 40px 0;
  }
}

@media (max-width: 559.98px) {
  .pricing__card-button {
    margin: 0 0 30px 0;
    border-color: #3949ab;
  }
}

.team__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 120px 0 30px 0;
}

@media (max-width: 767.98px) {
  .team__title {
    padding: 65px 0 20px 0;
    font-size: 26px;
  }
}

.team__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .team__text {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 559.98px) {
  .team__text {
    padding: 0 0 30px 0;
  }
}

.team__slider {
  margin: 0 0 120px 0;
}

@media (max-width: 1023.98px) {
  .team__slider {
    margin: 0 0 80px 0;
  }
}

.swiper-container {
  margin: 0 auto;
  height: 625px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 1023.98px) {
  .swiper-container {
    height: 500px;
  }
}

@media (max-width: 767.98px) {
  .swiper-container {
    height: 520px;
  }
}

@media (max-width: 599.98px) {
  .swiper-container {
    height: 480px;
  }
}

@media (max-width: 479.98px) {
  .swiper-container {
    height: 550px;
  }
}

@media (max-width: 424.98px) {
  .swiper-container {
    height: 520px;
  }
}

@media (max-width: 374.98px) {
  .swiper-container {
    height: 500px;
  }
}

.slide div, .slide p {
  text-align: center;
}

.slide div img, .slide p img {
  max-width: 100%;
}

.slide__name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 28px 0 12px 0;
}

.slide__job {
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 0 0 30px 0;
}

.slide__media {
  max-width: 270px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide__link {
  width: 50px;
  height: 50px;
  background-color: #f0f1f1;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.slide__link:hover {
  background-color: #3949ab;
}

.slide__link:hover span {
  color: #fff;
}

.slide__link span {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #00897b;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.swiper-pagination {
  bottom: 0;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: #00897b;
  opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3949ab;
}

.blog {
  background-color: #e4fdf9;
}

.blog__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  text-align: center;
  padding: 125px 0 30px 0;
}

@media (max-width: 767.98px) {
  .blog__title {
    padding: 65px 0 30px 0;
    font-size: 26px;
  }
}

.blog__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .blog__text {
    padding: 0 0 60px 0;
  }
}

.blog__rows {
  padding: 0 0 100px 0;
}

@media (max-width: 1023.98px) {
  .blog__rows {
    padding: 0 0 60px 0;
  }
}

.blog__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 599.98px) {
  .blog__row {
    max-height: 190px;
    overflow: hidden;
    margin: 0 0 20px 0;
    gap: 15px;
  }
}

@media (max-width: 479.98px) {
  .blog__row {
    display: block;
    position: relative;
  }
}

.blog__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 570px;
}

.blog__image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 599.98px) {
  .blog__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 40%;
            flex: 0 1 40%;
  }
}

@media (max-width: 479.98px) {
  .blog__image {
    margin: 0 auto;
  }
}

.blog__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

@media (max-width: 599.98px) {
  .blog__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 60%;
            flex: 0 1 60%;
  }
}

@media (max-width: 479.98px) {
  .blog__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.blog__content-title {
  padding: 60px 0 30px 0;
}

@media (max-width: 1023.98px) {
  .blog__content-title {
    padding: 40px 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .blog__content-title {
    padding: 25px 0 20px 0;
  }
}

@media (max-width: 479.98px) {
  .blog__content-title {
    text-align: center;
  }
}

.blog__content-title a {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
}

@media (max-width: 1023.98px) {
  .blog__content-title a {
    font-size: 22px;
  }
}

@media (max-width: 479.98px) {
  .blog__content-title a {
    color: #fff;
  }
}

.blog__content-title a:hover {
  color: #00897b;
  cursor: pointer;
}

.blog__content-subtitle {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #212121;
  padding: 0 0 30px 0;
}

.blog__content-subtitle :nth-child(even) {
  padding: 0 0 0 6px;
}

@media (max-width: 767.98px) {
  .blog__content-subtitle :nth-child(even) {
    padding: 0;
  }
}

.blog__content-subtitle :nth-child(3) {
  padding: 0 0 0 30px;
}

@media (max-width: 767.98px) {
  .blog__content-subtitle :nth-child(3) {
    padding: 0;
  }
}

@media (max-width: 1023.98px) {
  .blog__content-subtitle {
    padding: 0 0 20px 0;
  }
}

@media (max-width: 479.98px) {
  .blog__content-subtitle {
    text-align: center;
    color: #fff;
    font-weight: 500;
  }
}

.blog__content-text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #212121;
  max-width: 450px;
}

@media (max-width: 479.98px) {
  .blog__content-text {
    text-align: center;
    color: #fff;
    font-weight: 300;
  }
}

.blog__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  padding: 0 0 100px 0;
}

@media (max-width: 767.98px) {
  .blog__bottom {
    padding: 0 0 80px 0;
  }
}

@media (max-width: 479.98px) {
  .blog__bottom {
    padding: 0 0 60px 0;
  }
}

.blog__bottom-button {
  padding: 22px 42px;
}

.blog__bottom-button:hover {
  background-color: #00897bbd;
  border-color: #00897bbd;
}

.contact {
  background: url("../img/9contact/bg.png") 0 100%/cover no-repeat;
}

.contact__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  padding: 120px 0 30px 0;
}

@media (max-width: 767.98px) {
  .contact__title {
    padding: 65px 0 30px 0;
    font-size: 26px;
  }
}

.contact__text {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.05em;
  color: #fff;
  max-width: 625px;
  margin: 0 auto;
  text-align: center;
  padding: 0 0 120px 0;
}

@media (max-width: 767.98px) {
  .contact__text {
    padding: 0 0 60px 0;
  }
}

.contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 990px;
  padding: 0 15px;
  margin: 0 auto;
  padding: 0 0 80px 0;
}

@media (max-width: 767.98px) {
  .contact__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 479.98px) {
  .contact__row {
    padding: 0 0 40px 0;
  }
}

.contact__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

@media (max-width: 767.98px) {
  .contact__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 20px 0;
  }
}

.contact__image {
  margin: 0 auto 40px;
  width: 105px;
  height: 105px;
  background-color: #3949ab;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__image img {
  max-width: 62px;
}

@media (max-width: 767.98px) {
  .contact__image img {
    max-width: 45px;
  }
}

@media (max-width: 479.98px) {
  .contact__image img {
    max-width: 40px;
  }
}

@media (max-width: 374.98px) {
  .contact__image img {
    max-width: 30px;
  }
}

@media (max-width: 767.98px) {
  .contact__image {
    margin: 0 15px 0 0;
    width: 85px;
    height: 85px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85px;
            flex: 0 0 85px;
  }
}

@media (max-width: 479.98px) {
  .contact__image {
    width: 75px;
    height: 75px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75px;
            flex: 0 0 75px;
  }
}

@media (max-width: 374.98px) {
  .contact__image {
    width: 60px;
    height: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }
}

.contact__label {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 767.98px) {
  .contact__label {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    text-align: right;
  }
}

@media (max-width: 479.98px) {
  .contact__label {
    font-size: 18px;
  }
}

@media (max-width: 374.98px) {
  .contact__label {
    font-size: 16px;
  }
}

.contact__form {
  padding: 0 0 100px 0;
}

@media (max-width: 767.98px) {
  .contact__form {
    padding: 0 0 80px 0;
  }
}

@media (max-width: 479.98px) {
  .contact__form {
    padding: 0 0 60px 0;
  }
}

.form {
  max-width: 1060px;
  margin: 0 auto;
  color: #fff;
  padding: 0 15px;
}

.form__body {
  position: relative;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

@media (max-width: 767.98px) {
  .form__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0 0 30px 0;
}

@media (max-width: 479.98px) {
  .form__item {
    margin: 0 0 20px 0;
  }
}

.form__input {
  background-color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.8);
  padding: 28px 20px;
  width: 100%;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 15px #e4fdf9;
          box-shadow: 0 0 15px #e4fdf9;
}

.form__input._error {
  -webkit-box-shadow: 0 0 15px red;
          box-shadow: 0 0 15px red;
}

@media (max-width: 479.98px) {
  .form__input {
    padding: 20px 14px;
  }
}

.form__textarea {
  margin: 0 0 40px 0;
}

.form__textarea textarea {
  height: 323px;
  resize: none;
}

@media (max-width: 767.98px) {
  .form__textarea textarea {
    height: 200px;
  }
}

@media (max-width: 479.98px) {
  .form__textarea textarea {
    height: 150px;
  }
}

@media (max-width: 479.98px) {
  .form__textarea {
    margin: 0 0 20px 0;
  }
}

.form__button {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
  background-color: #fff;
  border-radius: 10px;
  padding: 25px 80px;
  display: block;
  margin-left: auto;
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.form__button:hover {
  background-color: #3949ab;
  color: #fff;
}

.form__button:active {
  top: 2px;
  -webkit-box-shadow: 0px 3px 0px #161b13;
          box-shadow: 0px 3px 0px #161b13;
}

@media (max-width: 479.98px) {
  .form__button {
    padding: 18px 48px;
  }
}

.footer {
  padding: 20px 0;
  text-align: center;
}

.footer p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #212121;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: invert(33%) sepia(95%) saturate(588%) hue-rotate(130deg) brightness(99%) contrast(105%);
          filter: invert(33%) sepia(95%) saturate(588%) hue-rotate(130deg) brightness(99%) contrast(105%);
}

.back-to-top.js-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-to-top img {
  max-width: 100%;
}
