@charset "UTF-8";
/*Обнуление*/
@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, select {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img, picture {
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
html, body {
  font-family: "Manrope";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  /*
    // PC
    @media (max-width: px) { = по макету + отступы безопасности (они 30px)
        max-width: 970px;
    }
    // TABLET
    @media (max-width: 991.98px) {
        max-width: 750px;
    }
    // MOBILE
    @media (max-width: 767.98px) {
        max-width: none;
    }
    // LITTLE MOBILE
    @media (max-width: 479.98px) {   
    }
    */
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.header {
  width: 100%;
  z-index: 10;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.header__logo {
  position: relative;
  z-index: 5;
  width: 97px;
  -webkit-animation: logo 0.5s linear 8s 1 normal backwards;
          animation: logo 0.5s linear 8s 1 normal backwards;
}

.header__logo img {
  max-width: 100%;
}

@media (max-width: 1023.98px) {
  .header__logo {
    width: 67px;
  }
}

@media (max-width: 859.98px) {
  .header__button {
    display: none;
  }
}

.header__button-link {
  border: 2px solid #87B670;
  border-radius: 9px;
  display: block;
  padding: 14px 35px;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-link span {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #3C3F34;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.header__button-link:hover {
  background-color: #87B670;
}

.header__button-link:hover span {
  color: #fff;
}

.header__button-link:active {
  top: 4px;
}

@media (max-width: 1023.98px) {
  .header__button-link {
    padding: 14px 14px;
  }
}

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
  margin: 0 0 0 50px;
}

@media (max-width: 1199.98px) {
  .menu__list > li {
    margin: 0 0 0 30px;
  }
}

@media (max-width: 1023.98px) {
  .menu__list > li {
    margin: 0 0 0 20px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 17px;
  line-height: 23px;
  color: #3C3F34;
  padding: 0 5px;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.15s ease 0s;
  -o-transition: all 0.15s ease 0s;
  transition: all 0.15s ease 0s;
}

.menu__link:hover {
  border-bottom: 2px solid #87B670;
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  75% {
    -webkit-transform: rotate(-30deg);
            transform: rotate(-30deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon::before, .menu__icon::after, .menu__icon span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #87B670;
  }
  .menu__icon::before, .menu__icon::after {
    content: '';
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }
  .menu__line {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: #fff;
    z-index: 2;
  }
  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(135, 182, 112, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    top: 0;
  }
  .menu__list > li {
    margin: 0 0 30px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1.5px;
  }
}

.about__container {
  position: relative;
}

.about__container::before {
  content: url(../img/1about/circles.png);
  position: absolute;
  top: -80px;
  right: -50px;
  z-index: -1;
  -webkit-animation: circles1 0.5s ease 1s 1 normal backwards;
          animation: circles1 0.5s ease 1s 1 normal backwards;
}

@media (max-width: 1099px) {
  .about__container::before {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    top: -80px;
    right: -200px;
    -webkit-animation: circles2 0.5s ease 1s 1 normal backwards;
            animation: circles2 0.5s ease 1s 1 normal backwards;
  }
}

@media (max-width: 767.98px) {
  .about__container::before {
    right: 0;
    -webkit-transform: scale(0.7) translate(70%, 0);
        -ms-transform: scale(0.7) translate(70%, 0);
            transform: scale(0.7) translate(70%, 0);
    -webkit-animation: circles3 0s ease 0s 1 normal backwards;
            animation: circles3 0s ease 0s 1 normal backwards;
  }
}

.about__container::after {
  content: url(../img/1about/flying-macbook.png);
  position: absolute;
  top: -80px;
  right: -105px;
  z-index: -1;
  -webkit-animation: mac1 0.5s ease 2s 1 normal backwards;
          animation: mac1 0.5s ease 2s 1 normal backwards;
}

@media (max-width: 1099px) {
  .about__container::after {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    top: -132px;
    right: -250px;
    -webkit-animation: mac2 0.5s ease 2s 1 normal backwards;
            animation: mac2 0.5s ease 2s 1 normal backwards;
  }
}

@media (max-width: 767.98px) {
  .about__container::after {
    display: none;
  }
}

.about__title {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  line-height: 140%;
  color: #87B670;
  padding: 136px 0 15px 0;
}

@media (max-width: 1023.98px) {
  .about__title {
    padding: 100px 0 15px 0;
  }
}

@media (max-width: 767.98px) {
  .about__title {
    padding: 60px 0 15px 0;
  }
}

@media (max-width: 539.98px) {
  .about__title {
    font-size: 21.5px;
  }
}

@media (max-width: 374.98px) {
  .about__title {
    font-size: 18px;
  }
}

.about__subtitle {
  font-weight: 500;
  font-size: 55px;
  line-height: 131%;
  color: #3C3F34;
  max-width: 684px;
  padding: 0 0 25px 0;
}

@media (max-width: 1023.98px) {
  .about__subtitle {
    font-size: 40px;
    max-width: 600px;
  }
}

@media (max-width: 539.98px) {
  .about__subtitle {
    font-size: 35px;
    line-height: 120%;
  }
}

@media (max-width: 374.98px) {
  .about__subtitle {
    font-size: 30px;
  }
}

.about__text {
  font-size: 20px;
  line-height: 140%;
  color: #3C3F34;
  max-width: 574px;
  padding: 0 0 35px 0;
}

@media (max-width: 1023.98px) {
  .about__text {
    max-width: 480px;
  }
}

@media (max-width: 539.98px) {
  .about__text {
    padding: 0 0 25px 0;
  }
}

.about__button {
  padding: 0 0 105px 0;
}

@media (max-width: 1099px) {
  .about__button {
    padding: 0 0 65px 0;
  }
}

@-webkit-keyframes circles1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circles1 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes circles2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@keyframes circles2 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@-webkit-keyframes circles3 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes circles3 {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@-webkit-keyframes mac1 {
  0% {
    right: -100vw;
  }
  100% {
    right: -105px;
  }
}

@keyframes mac1 {
  0% {
    right: -100vw;
  }
  100% {
    right: -105px;
  }
}

@-webkit-keyframes mac2 {
  0% {
    right: -100vw;
  }
  100% {
    right: -230px;
  }
}

@keyframes mac2 {
  0% {
    right: -100vw;
  }
  100% {
    right: -230px;
  }
}

.button__link {
  display: inline-block;
  padding: 16px 74px;
  background: -webkit-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: -o-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  -webkit-box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
          box-shadow: 0px 10px 30px rgba(135, 182, 112, 0.3);
  border-radius: 9px;
  position: relative;
  top: 0;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button__link span {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}

.button__link:hover {
  -webkit-box-shadow: 5px 10px 3px rgba(135, 182, 112, 0.3);
          box-shadow: 5px 10px 3px rgba(135, 182, 112, 0.3);
}

.button__link:active {
  top: 3px;
  -webkit-box-shadow: 5px 7px 3px rgba(135, 182, 112, 0.3);
          box-shadow: 5px 7px 3px rgba(135, 182, 112, 0.3);
}

.tools {
  background: url(../img/2tools/union.png) top 30px center/100vw no-repeat;
  position: relative;
}

.tools::before {
  content: url(../img/2tools/dotts.png);
  position: absolute;
  left: 0px;
  top: 0;
}

@media (min-width: 1921px) {
  .tools::before {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .tools::before {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    left: -14px;
  }
}

@media (max-width: 1023.98px) {
  .tools::before {
    display: none;
  }
}

.tools::after {
  content: url(../img/2tools/lines.png);
  position: absolute;
  right: 0px;
  bottom: 110px;
}

@media (min-width: 1921px) {
  .tools::after {
    display: none;
  }
}

@media (max-width: 1399.98px) {
  .tools::after {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    right: -14px;
    bottom: 50px;
  }
}

@media (max-width: 1023.98px) {
  .tools::after {
    display: none;
  }
}

.tools__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  color: #3C3F34;
  padding: 70px 0 87px 0;
}

@media (max-width: 1023.98px) {
  .tools__title {
    padding: 60px 0;
  }
}

@media (max-width: 767.98px) {
  .tools__title {
    font-size: 35px;
    padding: 50px 0;
  }
}

@media (max-width: 474.98px) {
  .tools__title {
    font-size: 30px;
    padding: 50px 0 40px 0;
  }
}

.tools__rows {
  padding: 0 0 100px 0;
}

@media (max-width: 1023.98px) {
  .tools__rows {
    padding: 0 0 70px 0;
  }
}

@media (max-width: 767.98px) {
  .tools__rows {
    padding: 0 0 20px 0;
  }
}

.tools__row:first-child {
  padding: 0 0 70px 0;
}

@media (max-width: 767.98px) {
  .tools__row:first-child {
    padding: 0;
  }
}

.tools__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767.98px) {
  .tools__items {
    display: block;
  }
}

.tools__items_one {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tools__items_two {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767.98px) {
  .tools__item {
    margin: 0 0 70px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 499.98px) {
  .tools__item {
    margin: 0 0 20px 0;
  }
}

.tools__item_one {
  max-width: 338px;
  padding: 0 50px;
}

@media (max-width: 767.98px) {
  .tools__item_one {
    max-width: none;
    padding: 0;
  }
}

.tools__item_two {
  max-width: 445px;
  padding: 0 55px;
}

@media (max-width: 767.98px) {
  .tools__item_two {
    max-width: none;
    padding: 0;
  }
}

.tools__item-image {
  text-align: center;
  position: relative;
}

.tools__item-image img {
  position: relative;
  z-index: 3;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 499.98px) {
  .tools__item-image img {
    width: 50px;
  }
}

.tools__item-image img:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.tools__item-image::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 87.55px;
  height: 87.55px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
          box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  border-radius: 50%;
  z-index: 1;
}

@media (max-width: 499.98px) {
  .tools__item-image::before {
    width: 60px;
    height: 60px;
  }
}

.tools__item-image::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 103px;
  height: 103px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
          box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  border-radius: 50%;
}

@media (max-width: 499.98px) {
  .tools__item-image::after {
    width: 70px;
    height: 70px;
  }
}

@media (max-width: 767.98px) {
  .tools__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 110px;
            flex: 0 0 110px;
  }
}

@media (max-width: 499.98px) {
  .tools__item-image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }
}

.tools__item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #3C3F34;
  padding: 40px 0 10px 0;
}

@media (max-width: 767.98px) {
  .tools__item-title {
    padding: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
}

@media (max-width: 499.98px) {
  .tools__item-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    font-size: 18px;
  }
}

.tools__item-text {
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #3C3F34;
}

@media (max-width: 767.98px) {
  .tools__item-text {
    margin: 0 auto;
  }
}

.tools__button {
  padding: 0 0 77px 0;
  text-align: center;
}

.tools__button a {
  text-align: center;
}

@media (max-width: 1023.98px) {
  .tools__button {
    padding: 0 0 60px 0;
  }
}

.problem__container {
  position: relative;
}

.problem__container::before {
  content: url(../img/3problem/circles.png);
  position: absolute;
  top: 80px;
  left: -85px;
  z-index: -1;
}

@media (max-width: 1023.98px) {
  .problem__container::before {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }
}

@media (max-width: 767.98px) {
  .problem__container::before {
    display: none;
  }
}

.problem__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  color: #3C3F34;
  padding: 63px 0 155px 0;
}

@media (max-width: 1023.98px) {
  .problem__title {
    padding: 40px 0 130px 0;
  }
}

@media (max-width: 767.98px) {
  .problem__title {
    padding: 30px 0;
    font-size: 34px;
  }
}

@media (max-width: 474.98px) {
  .problem__title {
    font-size: 30px;
  }
}

.problem__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 110px 0;
}

@media (max-width: 1023.98px) {
  .problem__row {
    padding: 0 0 90px 0;
  }
}

@media (max-width: 767.98px) {
  .problem__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 70px 0;
  }
}

@media (max-width: 474.98px) {
  .problem__row {
    padding: 0 0 50px 0;
  }
}

.problem__item {
  background: -webkit-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: -o-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  border-radius: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

.problem__item.active {
  position: relative;
  z-index: 2;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  top: -28px;
}

@media (max-width: 767.98px) {
  .problem__item.active {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    top: 0;
  }
}

.problem__item:first-child.active {
  position: relative;
  left: 28px;
}

@media (max-width: 767.98px) {
  .problem__item:first-child.active {
    left: 0;
  }
}

.problem__item:last-child.active {
  position: relative;
  right: 28px;
}

@media (max-width: 767.98px) {
  .problem__item:last-child.active {
    right: 0;
  }
}

.problem__item.inactive {
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .problem__item {
    width: 400px;
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 474.98px) {
  .problem__item {
    width: 280px;
  }
}

.problem__item-image-outher {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
          box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 42px auto 20px auto;
}

@media (max-width: 1023.98px) {
  .problem__item-image-outher {
    width: 90px;
    height: 90px;
  }
}

.problem__item-image-inner {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
          box-shadow: 0px 10px 30px rgba(162, 162, 162, 0.25);
  border-radius: 50%;
  width: 80.75px;
  height: 80.75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023.98px) {
  .problem__item-image-inner {
    width: 75px;
    height: 75px;
  }
}

.problem__item-image-image img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1023.98px) {
  .problem__item-image-image img {
    width: 35px;
    height: 35px;
  }
}

.problem__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0 10px 0;
}

@media (max-width: 1023.98px) {
  .problem__item-title {
    font-size: 18px;
  }
}

.problem__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0 42px 0;
  max-width: 290px;
  margin: 0 auto;
}

@media (max-width: 1023.98px) {
  .problem__item-text {
    font-size: 14px;
    max-width: 230px;
    padding: 0 0 30px 0;
  }
}

.mission__container {
  position: relative;
}

.mission__container::before {
  content: url(../img/4mission/lines.png);
  position: absolute;
  top: 50%;
  left: -8.5%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: -1;
}

@media (min-width: 1441px) {
  .mission__container::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .mission__container::before {
    display: none;
  }
}

.mission__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  color: #3C3F34;
  padding: 30px 0 72px 0;
}

@media (max-width: 1023.98px) {
  .mission__title {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 767.98px) {
  .mission__title {
    padding: 30px 0 40px 0;
    font-size: 34px;
  }
}

@media (max-width: 474.98px) {
  .mission__title {
    font-size: 30px;
  }
}

.mission__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 80px 0;
}

@media (max-width: 767.98px) {
  .mission__row1 {
    display: block;
    margin: 0 0 40px 0;
  }
}

.mission__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
}

@media (max-width: 767.98px) {
  .mission__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.row1 {
  background-color: #F7F8F3;
  border-radius: 35px;
}

.row1__content {
  padding: 0 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

@media (max-width: 1023.98px) {
  .row1__content {
    padding: 0 40px;
  }
}

@media (max-width: 474.98px) {
  .row1__content {
    padding: 0 20px;
  }
}

.row1__content-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 131.1%;
  color: #3C3F34;
  padding: 104px 0 25px 0;
}

@media (max-width: 1023.98px) {
  .row1__content-title {
    padding: 70px 0 20px 0;
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .row1__content-title {
    padding: 50px 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 474.98px) {
  .row1__content-title {
    padding: 30px 0 20px 0;
  }
}

.row1__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3C3F34;
  padding: 0 0 30px 0;
  max-width: 394px;
}

@media (max-width: 767.98px) {
  .row1__content-text {
    text-align: center;
    max-width: none;
  }
}

@media (max-width: 474.98px) {
  .row1__content-text {
    font-size: 18px;
  }
}

.row1__content-button {
  padding: 0 0 100px 0;
}

.row1__content-button a {
  padding: 14px 95px;
}

@media (max-width: 1023.98px) {
  .row1__content-button a {
    padding: 14px 60px;
  }
}

@media (max-width: 1023.98px) {
  .row1__content-button {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 767.98px) {
  .row1__content-button {
    text-align: center;
  }
}

@media (max-width: 474.98px) {
  .row1__content-button {
    padding: 0 0 40px 0;
  }
}

.row1__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 55%;
          flex: 0 1 55%;
  position: relative;
}

.row1__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.3%;
  height: 100%;
  border-radius: 35px 0 0 35px;
}

@media (min-width: 1441px) {
  .row1__image img {
    border-radius: 35px;
  }
}

@media (max-width: 767.98px) {
  .row1__image img {
    border-radius: 35px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .row1__image {
    height: 300px;
  }
}

@media (max-width: 424.98px) {
  .row1__image {
    height: 200px;
  }
}

.row2 {
  width: 100%;
}

.row2__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  position: relative;
  background-color: #F7F8F3;
  border-radius: 35px 0 0 35px;
}

.row2__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 118.3%;
  height: 100%;
  border-radius: 35px 0 0 35px;
}

@media (max-width: 767.98px) {
  .row2__image img {
    border-radius: 35px;
    width: 100%;
  }
}

@media (max-width: 767.98px) {
  .row2__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    border-radius: 0 0 35px 35px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 424.98px) {
  .row2__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
}

.row2__content {
  background-color: #F7F8F3;
  border-radius: 35px 0 0 35px;
  padding: 0 70px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  position: relative;
  z-index: 2;
}

@media (max-width: 1023.98px) {
  .row2__content {
    padding: 0 40px;
  }
}

@media (max-width: 767.98px) {
  .row2__content {
    border-radius: 35px 35px 0 0;
  }
}

@media (max-width: 474.98px) {
  .row2__content {
    padding: 0 20px;
  }
}

.row2__content::after {
  content: '';
  position: absolute;
  top: 0;
  right: -120px;
  width: 120px;
  height: 100%;
  background-color: #F7F8F3;
}

@media (min-width: 1441px) {
  .row2__content::after {
    border-radius: 0 35px 35px 0;
  }
}

@media (max-width: 767.98px) {
  .row2__content::after {
    display: none;
  }
}

.row2__content-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 131.1%;
  color: #3C3F34;
  padding: 104px 0 25px 0;
}

@media (max-width: 1023.98px) {
  .row2__content-title {
    padding: 70px 0 20px 0;
    font-size: 26px;
  }
}

@media (max-width: 767.98px) {
  .row2__content-title {
    padding: 50px 0 20px 0;
    text-align: center;
  }
}

@media (max-width: 474.98px) {
  .row2__content-title {
    padding: 30px 0 20px 0;
  }
}

.row2__content-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: #3C3F34;
  padding: 0 0 30px 0;
  max-width: 394px;
}

@media (max-width: 767.98px) {
  .row2__content-text {
    text-align: center;
    max-width: none;
  }
}

@media (max-width: 474.98px) {
  .row2__content-text {
    font-size: 18px;
  }
}

.row2__content-button {
  padding: 0 0 100px 0;
}

.row2__content-button a {
  padding: 14px 95px;
}

@media (max-width: 1023.98px) {
  .row2__content-button a {
    padding: 14px 60px;
  }
}

@media (max-width: 1023.98px) {
  .row2__content-button {
    padding: 0 0 60px 0;
  }
}

@media (max-width: 767.98px) {
  .row2__content-button {
    text-align: center;
  }
}

.comunity {
  background: url(../img/5comunity/dotts.png) bottom 70px right no-repeat, url(../img/5comunity/union.png) top center/100vw no-repeat;
}

@media (min-width: 1441px) {
  .comunity {
    background: url(../img/5comunity/union.png) top center/100vw no-repeat;
  }
}

@media (max-width: 767.98px) {
  .comunity {
    background-color: #F7F8F3;
  }
}

@media (max-width: 624.98px) {
  .comunity {
    background: none;
    background-color: #F7F8F3;
  }
}

.comunity__row {
  padding: 130px 0 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023.98px) {
  .comunity__row {
    padding: 90px 0 70px 0;
  }
}

@media (max-width: 767.98px) {
  .comunity__row {
    display: block;
    padding: 60px 0 30px 0;
  }
}

.comunity__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 380px;
          flex: 0 1 380px;
  padding: 0 15px;
}

@media (max-width: 767.98px) {
  .comunity__item {
    max-width: 380px;
    margin-left: 10%;
    padding: 0 15px 40px 15px;
  }
}

@media (max-width: 624.98px) {
  .comunity__item {
    margin: 0 auto;
  }
}

@media (max-width: 424.98px) {
  .comunity__item {
    padding: 0 15px 20px 15px;
  }
}

.comunity__image {
  position: relative;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 0 60px 0;
}

.comunity__image::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 5px;
  background: -webkit-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: -o-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  border-radius: 100px;
}

@media (max-width: 767.98px) {
  .comunity__image {
    margin: 0 0 30px 0;
  }
}

@media (max-width: 424.98px) {
  .comunity__image {
    margin: 0 0 20px 0;
  }
}

.comunity__number {
  font-weight: 700;
  font-size: 40px;
  line-height: 131%;
  color: #3C3F34;
  padding: 0 0 25px 0;
}

@media (max-width: 1023.98px) {
  .comunity__number {
    padding: 0 0 20px 0;
    font-size: 26px;
  }
}

@media (max-width: 474.98px) {
  .comunity__number {
    padding: 0 0 15px 0;
  }
}

.comunity__text {
  font-size: 20px;
  line-height: 140%;
  color: #3C3F34;
  max-width: 240px;
}

@media (max-width: 474.98px) {
  .comunity__text {
    font-size: 18px;
  }
}

.comunity__button {
  text-align: center;
  padding: 0 0 150px 0;
}

@media (max-width: 1199.98px) {
  .comunity__button {
    padding: 0 0 120px 0;
  }
}

@media (max-width: 1023.98px) {
  .comunity__button {
    padding: 0 0 70px 0;
  }
}

@media (max-width: 767.98px) {
  .comunity__button {
    padding: 0 0 40px 0;
  }
}

.mission2 {
  padding: 10px 0 0 0;
}

.mission2__container {
  position: relative;
}

.mission2__container::before {
  content: url(../img/4mission/lines.png);
  position: absolute;
  top: 50%;
  left: -8.5%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: -1;
}

@media (min-width: 1441px) {
  .mission2__container::before {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .mission2__container::before {
    display: none;
  }
}

.mission2__row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 80px 0;
}

@media (max-width: 767.98px) {
  .mission2__row1 {
    display: block;
    margin: 0 0 40px 0;
  }
}

@media (max-width: 424.98px) {
  .mission2__row1 {
    display: block;
    margin: 0 0 30px 0;
  }
}

.mission2__row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
}

@media (max-width: 767.98px) {
  .mission2__row2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mission2 .row2__image, .mission2 .row1__image {
  background-color: #AACA78;
}

@media (max-width: 767.98px) {
  .mission2 .row2__image, .mission2 .row1__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 400px;
            flex: 0 1 400px;
    height: 400px;
  }
}

@media (max-width: 599.98px) {
  .mission2 .row2__image, .mission2 .row1__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 300px;
            flex: 0 1 300px;
    height: 300px;
  }
}

@media (max-width: 424.98px) {
  .mission2 .row2__image, .mission2 .row1__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    height: 200px;
  }
}

.mission2 .row2__content, .mission2 .row1__content {
  background-color: #AACA78;
}

.mission2 .row2__content::after, .mission2 .row1__content::after {
  background-color: #AACA78;
}

.mission2 .row2__content-title, .mission2 .row1__content-title {
  color: #fff;
}

.mission2 .row2__content-text, .mission2 .row1__content-text {
  color: #fff;
}

.mission2 .row2__content-button a, .mission2 .row1__content-button a {
  background: #fff;
}

.mission2 .row2__content-button a span, .mission2 .row1__content-button a span {
  color: #3C3F34;
}

.mission2 .row1__content {
  border-radius: 35px 0 0 35px;
}

@media (max-width: 767.98px) {
  .mission2 .row1__content {
    border-radius: 35px 35px 0 0;
  }
}

@media (max-width: 767.98px) {
  .mission2 .row1__image {
    border-radius: 0 0 35px 35px;
  }
}

.rewiews__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  color: #3C3F34;
  padding: 0 0 70px 0;
}

@media (max-width: 1199.98px) {
  .rewiews__title {
    font-size: 36px;
    padding: 0 0 50px 0;
  }
}

@media (max-width: 1023.98px) {
  .rewiews__title {
    font-size: 34px;
    padding: 0 0 40px 0;
  }
}

@media (max-width: 767.98px) {
  .rewiews__title {
    font-size: 32px;
    padding: 0 0 30px 0;
  }
}

@media (max-width: 424.98px) {
  .rewiews__title {
    font-size: 30px;
  }
}

.rewiews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1199.98px) {
  .rewiews__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767.98px) {
  .rewiews__row {
    display: block;
  }
}

.rewiews__item {
  max-width: 370px;
  background-color: #F7F8F3;
  border-radius: 25px;
  margin-right: 10px;
}

.rewiews__item:last-child {
  margin-right: 0;
}

@media (max-width: 1199.98px) {
  .rewiews__item {
    max-width: 320px;
  }
}

@media (max-width: 767.98px) {
  .rewiews__item {
    margin: 0 auto 30px auto;
  }
  .rewiews__item:last-child {
    margin-right: auto;
  }
}

.rewiews__item-image {
  height: 138px;
  margin: 0 50px 30px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #D9D9D9;
}

.rewiews__item-image img {
  max-width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.rewiews__item-image img:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

@media (max-width: 1023.98px) {
  .rewiews__item-image {
    height: 100px;
    margin: 0 30px 30px 30px;
  }
}

.rewiews__item-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 36px 40px 36px;
}

@media (max-width: 1023.98px) {
  .rewiews__item-stars {
    padding: 0 36px 30px 36px;
  }
}

.rewiews__item-stars .animation {
  position: relative;
}

.rewiews__item-stars .animation:after {
  content: "";
  height: 98%;
  width: 25%;
  left: -25%;
  top: 0;
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.01)), color-stop(30%, rgba(255, 255, 255, 0.13)), to(rgba(255, 255, 255, 0.9)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.9) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.9) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.13) 30%, rgba(255, 255, 255, 0.9) 100%);
  -webkit-animation: 15s linear 0s infinite normal;
          animation: 15s linear 0s infinite normal;
}

.rewiews__item-stars .animation_1:after {
  -webkit-animation-name: shine1;
          animation-name: shine1;
}

.rewiews__item-stars .animation_2:after {
  -webkit-animation-name: shine2;
          animation-name: shine2;
}

.rewiews__item-stars .animation_3:after {
  -webkit-animation-name: shine3;
          animation-name: shine3;
}

.rewiews__item-stars .animation_4:after {
  -webkit-animation-name: shine4;
          animation-name: shine4;
}

.rewiews__item-stars .animation_6:after {
  -webkit-animation-name: shine6;
          animation-name: shine6;
}

.rewiews__item-stars .animation_7:after {
  -webkit-animation-name: shine7;
          animation-name: shine7;
}

.rewiews__item-stars .animation_8:after {
  -webkit-animation-name: shine8;
          animation-name: shine8;
}

.rewiews__item-stars .animation_9:after {
  -webkit-animation-name: shine9;
          animation-name: shine9;
}

.rewiews__item-stars .animation_10:after {
  -webkit-animation-name: shine10;
          animation-name: shine10;
}

.rewiews__item-stars .animation_11:after {
  -webkit-animation-name: shine11;
          animation-name: shine11;
}

.rewiews__item-stars .animation_12:after {
  -webkit-animation-name: shine12;
          animation-name: shine12;
}

.rewiews__item-stars .animation_13:after {
  -webkit-animation-name: shine13;
          animation-name: shine13;
}

.rewiews__item-stars .animation_14:after {
  -webkit-animation-name: shine14;
          animation-name: shine14;
}

.rewiews__item-stars .animation_15:after {
  -webkit-animation-name: shine15;
          animation-name: shine15;
}

@-webkit-keyframes shine1 {
  0% {
    left: -20%;
    opacity: 0;
  }
  7% {
    left: 85%;
    opacity: 1;
  }
  8%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine1 {
  0% {
    left: -20%;
    opacity: 0;
  }
  7% {
    left: 85%;
    opacity: 1;
  }
  8%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine2 {
  7% {
    left: -20%;
    opacity: 0;
  }
  14% {
    left: 85%;
    opacity: 1;
  }
  15%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine2 {
  7% {
    left: -20%;
    opacity: 0;
  }
  14% {
    left: 85%;
    opacity: 1;
  }
  15%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine3 {
  14% {
    left: -20%;
    opacity: 0;
  }
  21% {
    left: 85%;
    opacity: 1;
  }
  22%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine3 {
  14% {
    left: -20%;
    opacity: 0;
  }
  21% {
    left: 85%;
    opacity: 1;
  }
  22%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine4 {
  21% {
    left: -20%;
    opacity: 0;
  }
  28% {
    left: 85%;
    opacity: 1;
  }
  29%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine4 {
  21% {
    left: -20%;
    opacity: 0;
  }
  28% {
    left: 85%;
    opacity: 1;
  }
  29%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine6 {
  35% {
    left: -20%;
    opacity: 0;
  }
  42% {
    left: 85%;
    opacity: 1;
  }
  43%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine6 {
  35% {
    left: -20%;
    opacity: 0;
  }
  42% {
    left: 85%;
    opacity: 1;
  }
  43%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine7 {
  42% {
    left: -20%;
    opacity: 0;
  }
  49% {
    left: 85%;
    opacity: 1;
  }
  50%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine7 {
  42% {
    left: -20%;
    opacity: 0;
  }
  49% {
    left: 85%;
    opacity: 1;
  }
  50%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine8 {
  49% {
    left: -20%;
    opacity: 0;
  }
  56% {
    left: 85%;
    opacity: 1;
  }
  57%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine8 {
  49% {
    left: -20%;
    opacity: 0;
  }
  56% {
    left: 85%;
    opacity: 1;
  }
  57%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine9 {
  56% {
    left: -20%;
    opacity: 0;
  }
  63% {
    left: 85%;
    opacity: 1;
  }
  64%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine9 {
  56% {
    left: -20%;
    opacity: 0;
  }
  63% {
    left: 85%;
    opacity: 1;
  }
  64%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine10 {
  63% {
    left: -20%;
    opacity: 0;
  }
  70% {
    left: 85%;
    opacity: 1;
  }
  71%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine10 {
  63% {
    left: -20%;
    opacity: 0;
  }
  70% {
    left: 85%;
    opacity: 1;
  }
  71%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine11 {
  70% {
    left: -20%;
    opacity: 0;
  }
  77% {
    left: 85%;
    opacity: 1;
  }
  78%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine11 {
  70% {
    left: -20%;
    opacity: 0;
  }
  77% {
    left: 85%;
    opacity: 1;
  }
  78%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine12 {
  77% {
    left: -20%;
    opacity: 0;
  }
  84% {
    left: 85%;
    opacity: 1;
  }
  88%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine12 {
  77% {
    left: -20%;
    opacity: 0;
  }
  84% {
    left: 85%;
    opacity: 1;
  }
  88%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine13 {
  84% {
    left: -20%;
    opacity: 0;
  }
  90% {
    left: 85%;
    opacity: 1;
  }
  91%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine13 {
  84% {
    left: -20%;
    opacity: 0;
  }
  90% {
    left: 85%;
    opacity: 1;
  }
  91%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine14 {
  90% {
    left: -20%;
    opacity: 0;
  }
  95% {
    left: 85%;
    opacity: 1;
  }
  96%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine14 {
  90% {
    left: -20%;
    opacity: 0;
  }
  95% {
    left: 85%;
    opacity: 1;
  }
  96%, 100% {
    left: 85%;
    opacity: 0;
  }
}

@-webkit-keyframes shine15 {
  94% {
    left: -20%;
    opacity: 0;
  }
  99% {
    left: 85%;
    opacity: 1;
  }
  100% {
    left: 85%;
    opacity: 0;
  }
}

@keyframes shine15 {
  94% {
    left: -20%;
    opacity: 0;
  }
  99% {
    left: 85%;
    opacity: 1;
  }
  100% {
    left: 85%;
    opacity: 0;
  }
}

.faq {
  padding: 100px 0 40px 0;
  background: url(../img/8faq/union.png) top center/100vw no-repeat;
}

@media (max-width: 767.98px) {
  .faq {
    background: none;
    padding: 60px 0 40px 0;
  }
}

@media (max-width: 424.98px) {
  .faq {
    padding: 40px 0;
  }
}

@media (max-width: 767.98px) {
  .faq__container {
    background-color: #F7F8F3;
  }
}

.faq__spoilers {
  padding: 0 0 30px 0;
}

.block__item {
  padding: 0 0 40px 0;
  border-bottom: 1px solid #D9D9D9;
}

@media (max-width: 767.98px) {
  .block__item {
    padding: 0 0 30px 0;
  }
}

.block__title {
  width: 100%;
  position: relative;
  font-weight: 500;
  font-size: 30px;
  line-height: 131%;
  color: #3C3F34;
  background-color: transparent;
  text-align: left;
  margin: 40px 0 0 0;
}

@media (max-width: 1023.98px) {
  .block__title {
    font-size: 28px;
  }
}

@media (max-width: 767.98px) {
  .block__title {
    font-size: 26px;
    margin: 30px 0 0 0;
  }
}

@media (max-width: 767.98px) {
  .block__title {
    font-size: 24px;
  }
}

.block._init .block__title {
  cursor: pointer;
}

.block._init .block__title span {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 10px;
  top: 0;
}

.block._init .block__title span img {
  max-width: 100%;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.block._init .block__title._active span img {
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media (max-width: 599.98px) {
  .block__title span {
    display: none;
  }
}

.block__text {
  font-size: 20px;
  line-height: 140%;
  color: #3C3F34;
  padding: 25px 30px 0 0;
}

@media (max-width: 1023.98px) {
  .block__text {
    font-size: 18px;
  }
}

@media (max-width: 767.98px) {
  .block__text {
    font-size: 16px;
    padding: 20px 30px 0 0;
  }
}

@media (max-width: 424.98px) {
  .block__text {
    font-size: 14px;
  }
}

.end {
  padding: 70px 0;
}

@media (max-width: 1023.98px) {
  .end {
    padding: 60px 0;
  }
}

@media (max-width: 767.98px) {
  .end {
    padding: 50px 0;
  }
}

@media (max-width: 599.98px) {
  .end {
    padding: 20px 0 35px 0;
  }
}

.end__container {
  position: relative;
}

.end__container::before {
  content: url(../img/9end/dotts.png);
  position: absolute;
  top: -45px;
  left: -55px;
}

@media (max-width: 767.98px) {
  .end__container::before {
    display: none;
  }
}

.end__container::after {
  content: url(../img/9end/circles.png);
  position: absolute;
  right: -105px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

@media (min-width: 1441px) {
  .end__container::after {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .end__container::after {
    -webkit-transform: translate(0, -50%) scale(0.8);
        -ms-transform: translate(0, -50%) scale(0.8);
            transform: translate(0, -50%) scale(0.8);
  }
}

@media (max-width: 424.98px) {
  .end__container::after {
    display: none;
  }
}

.end__area {
  position: relative;
  z-index: 2;
  background: -webkit-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: -o-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  border-radius: 35px;
}

.end__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 131%;
  text-align: center;
  color: #FFFFFF;
  padding: 80px 0 25px 0;
}

@media (max-width: 1023.98px) {
  .end__title {
    font-size: 36px;
    padding: 70px 0 20px 0;
  }
}

@media (max-width: 767.98px) {
  .end__title {
    font-size: 34px;
    padding: 60px 0 20px 0;
  }
}

@media (max-width: 599.98px) {
  .end__title {
    font-size: 30px;
    padding: 50px 0 20px 0;
    max-width: 350px;
    margin: 0 auto;
  }
}

.end__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 0 35px 0;
  max-width: 574px;
  margin: 0 auto;
}

@media (max-width: 1023.98px) {
  .end__text {
    padding: 0 15px 30px 15px;
  }
}

@media (max-width: 767.98px) {
  .end__text {
    font-size: 18px;
  }
}

@media (max-width: 599.98px) {
  .end__text {
    font-size: 16px;
  }
}

.end__button {
  padding: 0 0 90px 0;
  text-align: center;
}

.end__button a {
  background: #fff;
}

.end__button a span {
  color: #3C3F34;
}

@media (max-width: 1023.98px) {
  .end__button {
    padding: 0px 0 80px 0;
  }
}

@media (max-width: 767.98px) {
  .end__button {
    padding: 0px 0 70px 0;
  }
}

@media (max-width: 599.98px) {
  .end__button {
    padding: 0 0 60px 0;
  }
}

.footer {
  border-top: 1px solid #D9D9D9;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65px;
          flex: 0 1 65px;
}

.footer__logo img {
  max-width: 100%;
}

.footer__copyright {
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #3C3F34;
}

.footer__dispate {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80px;
          flex: 0 1 80px;
}

.footer__dispate img {
  max-width: 100%;
}

.back-to-top {
  position: fixed;
  bottom: 5px;
  right: 10vw;
  width: 40px;
  height: 40px;
  background: -webkit-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: -o-linear-gradient(351.2deg, #97BC5D 0.78%, #C0D997 98.41%);
  background: linear-gradient(98.8deg, #97BC5D 0.78%, #C0D997 98.41%);
  border-radius: 5px;
  border: 1px solid white;
  opacity: 0.9;
  cursor: pointer;
  z-index: 100;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.back-to-top.js-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.back-to-top__span1 {
  position: relative;
  top: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.back-to-top__span1::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -3px;
  width: 14.5px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.back-to-top__span1::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -12px;
  width: 14.5px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.back-to-top__span2 {
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.back-to-top__span2::before {
  content: '';
  position: absolute;
  top: 3px;
  left: -3px;
  width: 14.5px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.back-to-top__span2::after {
  content: '';
  position: absolute;
  top: 3px;
  left: -12px;
  width: 14.5px;
  height: 2px;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.back-to-top:hover {
  border-radius: 8px;
}

.back-to-top:hover .back-to-top__span1 {
  top: -4px;
}

.back-to-top:hover .back-to-top__span2 {
  opacity: 1;
}
